/vendor/
/.env
/composer.lock
/nbproject/private/
/.phpunit.result.cache
/.phpunit.cache/
*.cache
/debian/files
/debian/debhelper-build-stamp
/debian/*.substvars
/debian/.debhelper/
/debian/pohoda-tools/
