#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)
PKG_TYPE    := $(shell jq -r '.type' composer.json)

%:
	dh $@

override_dh_auto_test:
	appstreamcli validate --pedantic --no-net \
	    debian/io.github.spoje_net.pohoda_tools.metainfo.xml

override_dh_install:
	dh_install
	install -D -m 0644 debian/autoload.php \
	    debian/pohoda-tools/usr/share/pohoda-tools/autoload.php
	sed -i "s|require_once __DIR__.'/../vendor/autoload.php';|require_once '/usr/share/pohoda-tools/autoload.php';|" \
	    debian/pohoda-tools/usr/bin/pohoda-fake-bank
	sed -i "s|__DIR__.'/../.env'|''|" \
	    debian/pohoda-tools/usr/bin/pohoda-fake-bank
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
	    debian/pohoda-tools/usr/share/pohoda-tools/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" \
	    debian/pohoda-tools/usr/share/pohoda-tools/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" \
	    debian/pohoda-tools/usr/share/pohoda-tools/autoload.php
	sed -i "s|'library'|'$(PKG_TYPE)'|g" \
	    debian/pohoda-tools/usr/share/pohoda-tools/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
	    debian/pohoda-tools/usr/share/pohoda-tools/autoload.php
